body {
	min-width: 400px;
	border: 0;
	margin: 0;
	font-family: oxygen, sans-serif;
	font-size: 20px;
	background-color: white;
	color: black;
}

.navbar-brand .h1, .navbar-brand .h1:hover, .navbar-brand .h1:focus {
	color: inherit;
	text-decoration: inherit;
}

header {
	border: 4px black solid;
	border-radius: 0;
}

.nav-item {
	background-color: white;
	color: black;
	text-align: center;
	border: 2px black solid;
	font-weight: 600;
}

.collapse > .navbar-nav >.nav-item > .nav-link {
	color: black;
}

h2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

h3 {
	margin-bottom: -1px;
}

.column {
	padding-bottom: 20px;
}

.to-the-top {
	color: black;
}

@media (min-width: 576px) {
	li .nav-link {
		display: none;
	}
}

@media (max-width: 576px) {
	.column {
	width: 100%;
	margin: auto;
	}

	.col-xs-12 {
	width: 100%;
	padding-bottom: 20px;
	flex: 0 0 auto;
}
